.main{
    padding: 3rem 6rem;
    
    display: grid;
    row-gap: 5rem;
    justify-items: center;
}


.box{
    display: grid;
    grid-auto-flow: column;
    grid: auto / repeat(auto-fit, minmax(34rem, 1fr));
    align-items: center;
    text-align: center;
    
    width: 90%;
    box-shadow: 0 1px 1.5rem var(--black-a2);
    border-radius: 2rem;

    &__text-box{
        display: grid;
        row-gap: 1rem;

        padding: 7rem 10%;

        &--heading{
            font-size: 3.5rem;
        }

        &--paragraph{
            font-size: 2rem;
            color: var(--gblue);
        }

    }

    &__img-box{
        display: grid;
        justify-items: center;
    }
    &__img{
        width: 30rem;
        margin: 3rem;
    }
}